{% extends 'dashboard/base.html' %}

{# Load the tag library #}
{% load bootstrap4 %}



{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}

<div class="row">
    <div class="col-6">
        <div class="card">
            <h5 class="card-header">Update Deparment</h5>
            <div class="card-body">
                <form method="post" class="form" , enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock content %}